Source: coreutils
Maintainer: Michael Stone <mstone@debian.org>
Section: utils
Priority: required
Standards-Version: 3.6.2.0
Build-Depends: gettext (>= 0.10.37), debhelper, dh-buildinfo, perl-base, texinfo (>= 4.2), groff, dbs, libattr1-dev | not+linux-gnu, libacl1-dev | not+linux-gnu, bzip2, autoconf (>= 2.59.cvs.2006.05.25-1), automake1.9, libselinux1-dev (>= 1.32) | not+linux-gnu
Build-Conflicts: automake1.4

Package: coreutils
Architecture: any
Pre-Depends: ${shlibs:Depends}
Provides: textutils, shellutils, fileutils
Replaces: textutils, shellutils, fileutils, stat, debianutils (<= 2.3.1), dpkg (<< 1.13.2)
Conflicts: stat
Essential: yes
Description: The GNU core utilities
 This package contains the essential basic system utilities.
 .
 Specifically, this package includes: 
 basename cat chgrp chmod chown chroot cksum comm cp csplit cut date dd df dir
 dircolors dirname du echo env expand expr factor false fmt fold groups head
 hostid id install join link ln logname ls md5sum mkdir mkfifo mknod mv nice nl
 nohup od paste pathchk pinky pr printenv printf ptx pwd readlink rm rmdir 
 sha1sum seq shred sleep sort split stat stty sum sync tac tail tee test touch 
 tr true tsort tty uname unexpand uniq unlink users vdir wc who whoami yes 

Package: textutils
Pre-Depends: coreutils
Architecture: all
Priority: extra
Section: oldlibs
Description: The GNU text file processing utilities (transitional package)
 Empty package to facilitate upgrades, can be safely removed.

Package: fileutils
Pre-Depends: coreutils
Architecture: all
Priority: extra
Section: oldlibs
Description: The GNU file management utilities (transitional package)
 Empty package to facilitate upgrades, can be safely removed.

Package: shellutils
Pre-Depends: coreutils
Architecture: all
Priority: extra
Section: oldlibs
Description: The GNU shell programming utilities (transitional package)
 Empty package to facilitate upgrades, can be safely removed.
