Source: coreutils
Maintainer: Michael Stone <mstone@debian.org>
Section: utils
Priority: required
Standards-Version: 3.8.0.0
Build-Depends: gettext (>= 0.10.37), debhelper, dh-buildinfo, texinfo (>= 4.2), groff, dpatch, libattr1-dev | not+linux-gnu, libacl1-dev | not+linux-gnu, libselinux1-dev (>= 1.32) | not+linux-gnu, gperf, bison

Package: coreutils
Architecture: any
Pre-Depends: ${shlibs:Depends}
Essential: yes
Conflicts: mktemp
Replaces: mktemp
Description: The GNU core utilities
 This package contains the essential basic system utilities.
 .
 Specifically, this package includes: 
 basename cat chgrp chmod chown chroot cksum comm cp csplit cut date dd df dir
 dircolors dirname du echo env expand expr factor false fmt fold groups head
 hostid id install join link ln logname ls md5sum mkdir mkfifo mknod mv nice nl
 nohup od paste pathchk pinky pr printenv printf ptx pwd readlink rm rmdir 
 sha1sum seq shred sleep sort split stat stty sum sync tac tail tee test touch 
 tr true tsort tty uname unexpand uniq unlink users vdir wc who whoami yes 
